@import "tailwindcss";

:root {
  --primary-c-black: #131313; /* azul principal do dashboard */
  --secondary: #1e293b; /* azul escuro / textos */
  --accent: #64748b; /* cinza-azulado */
  --bg-light: #f8fafc; /* fundo */
  --bg-card: #ffffff;
  --border-color: #e2e8f0;
  --success: #22c55e;
  --error: #ef4444;
}

body {
  background-color: var(--primary-c-black);
  color: white;
  font-family: "Inter", sans-serif;
}

.bg-primary {
  background-color: var(--primary);
}

.bg-primary-c-black {
  background-color: var(--primary-c-black);
}

.text-primary-c-black {
  color: var(--primary-c-black);
}

.text-primary {
  color: var(--primary);
}
.bg-secondary {
  background-color: var(--secondary);
}
